<h1>Nearest Station Info</h1>

Name: <br><%= @station.name %></br>
Address: <br><%= @station.address %></br>
Fuel type: <br><%= @station.fuel_type %></br>
Access times: <br><%= @station.access_times %></br>

Distance: <br><%= @directions.distance %></br>
Travel time: <br><%= @directions.travel_time %></br>
Directions: <br><%= @directions.direction_instructions %></br>
